<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		{% block titleblock %}{% endblock %}
	</title>

		<link rel="stylesheet" href="/static/css/index.css">
		{% block css %}
		{% endblock %}

		{% block  js %}
		{% endblock %}

	
	
	<div id ="wrapper">
		<div id ="banner">
			<div id ="logo">
			</div>
			<div id ="search">
			</div>
		</div>	
	</div>
	<div id ="menu">
		<ul>
			<li><a href = "#">關於我們</a></li>
			<li><a href = "#">最新消息</a></li>
			<li><a href = "#">新聞</a></li>
		</ul>
	</div>
</head>
<body>
	<div id ="content">
		{% block mainArea %}
		{% endblock %}
	</div>
	<div id ="footer">
		<span>一定棒學習Django網</span>
	</div>


</body>
</html>